body {
  background-image: url("img/background.jpg");
  background-size: cover;
  font-family: "Oswald", sans-serif;
}

ul {
  list-style-type: none;
  width: auto;
  margin: -10px auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: #04aa6d;
}

h2 {
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  /* margin-bottom: -60px; */
}

p {
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  margin-top: 100px;
}

footer {
  text-align: center;
  color: white;
  font-size: 12px;
  padding-top: 170px;
}

.inputform {
  margin-bottom: 0;
  align-items: center;
  text-align: center;
}

.button {
  text-align: center;
}

.forms {
  color: white;
  text-align: center;
  /* margin-right: 200px; */
  margin-bottom: -40px;
}

.selectform {
  align-items: center;
  text-align: center;
}

Input[type="text"]:focus {
  border: 2px solid #111;
}

input[type="text"] {
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#cars {
  height: 43px;
  padding-left: 5px;
}

dl {
  align-items: left;
  font-size: 14px;
  color: white;
  margin-left: 0;
  margin-top: -20px;
  text-shadow: 2px 2px black;
}
